<?xml version="1.0" ?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mmdt_rat20)/config/effort_rat20_movilTorso.yaml" command="load"/>
  <rosparam file="$(find mmdt_rat20)/config/position_rat20_movilTorso.yaml" command="load"/>
  <rosparam file="$(find mmdt_rat20)/config/effort_rat20_manipDer.yaml" command="load"/>
  <rosparam file="$(find mmdt_rat20)/config/position_rat20_manipIzq.yaml" command="load"/>

  <!-- load the controllers -->
  <node pkg="controller_manager" type="spawner" name="controller_spawner" 
	      respawn="false" output="screen" ns="/mmdt_rat20"
	      args="joint_state_controller
				      jointIzqF_position
				      jointDerF_position
				      jointIzqT_position
				      jointDerT_position
					  jointBaseTorso_position
					  jointTorso_position
					  joint1_manipDer_effort
					  joint2_manipDer_effort
					  joint3_manipDer_effort
					  joint4_manipDer_effort
					  joint5_manipDer_effort
					  joint6_manipDer_effort
					  joint1_manipIzq_position
					  joint2_manipIzq_position
					  joint3_manipIzq_position
					  joint4_manipIzq_position
					  joint5_manipIzq_position
					  joint6_manipIzq_position"/>

</launch> 